@import '../colors';

.container {
  @apply flex flex-row flex-wrap items-baseline;

  h2 {
    @apply m-4 text-xl;
    color: $primary-text;
  }
}


.searchContainer {
  @apply m-4 flex-1;

}
.search {
  @apply flex flex-row flex-nowrap;

  input {
    @apply bg-transparent flex-1 outline-none text-white px-4;
    @apply min-w-0 rounded-lg;

    transition: background-color 0.2s;

    &:focus {
      background-color: rgba($background-color,0.2);
    }
  }
}


.button {
  @apply bg-transparent outline-none;
  @apply p-3 rounded-lg;
  transition: background-color 0.2s;

  svg {
    width: 24px;
    height: 24px;
    stroke: $primary-text;
  }

  &:active, &:hover {
    background-color: rgba($background-color,0.2);
  }
}