@import '../colors';

.wrapper {
  @apply flex flex-row flex-wrap;
  @apply gap-4;
}

.tableContainer {
  @apply px-0 pb-4;
  min-width: 300px;

  h3 {
    @apply mx-4 my-2;
  }
}


.table {

  th:first-child,
  td:first-child {
    @apply pl-4;
  }

  th:last-child,
  td:last-child {
    @apply pr-4;
  }

  td {
    font-family: 'Roboto Mono', monospace;
  }
}

.validatorsInfo { 
  @apply w-full flex flex-row flex-wrap p-4;

  .stat {
    @apply flex-1 flex flex-col flex-nowrap mx-2;
    min-width: 200px;
  }

  .statTitle {
    @apply text-xs;
  }
  
  .statValue {
    @apply text-base;
    color: $secondary-color;
  }
}